html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans 3', 'Inter', 'Montserrat', Arial, Helvetica,
        sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
p,
ul {
    margin: 0;
}
input {
    font-size: 1rem;
    padding: 4px 8px;
}
button {
    font-size: 1rem;
    padding: 2px 4px;

    cursor: pointer;
}
select {
    font-size: 1rem;
    padding: 4px 8px;
}
#caretIcon {
    pointer-events: none;
}

.pagecontainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.mainContainer {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    position: relative;
}

/* Development */

div,
form,
nav {
    border: 1px dashed rgba(0, 0, 0, 0.473);
}
