.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: aquamarine;
}
.titleContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    flex-direction: row;
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 12px;
}

.formGroupRow {
    display: flex;
    flex-direction: row;
}

.searchInput {
    max-width: 320px;
}

.searchResultsContainer {
    position: absolute;
    background-color: white;
    padding: 12px 24px;
    width: fit-content;
}
.searchResultsContainer > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 4px;
    margin: 4px;
}
.searchResultsContainer > div > * {
    margin: 0 4px;
}
.hiddenResults {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 4px 24px;
    margin: 2px 0;
}
.itemCost {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}
.itemCost > *{
    margin-left: 12px;
}

.itemCost > .qtyInput {
    width: 52px;
}
.itemCost > .price {
    width: calc(fit-content);
}
.itemCost > .amount {
    text-align: right;
    width: 72px;
}
.itemCost > .payment {
    text-align: right;
    width: 96px;


}

.fullpayment {
    margin-left: 32px;
}